@import "src/utils";
.improvement-border {
    @include hexagon($improvement-width);
    position: relative;
    .improvement-content {
        @include hexagon($improvement-width - 8px);
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        // background-color: white;
    }
    .improvement-fertilizer>& {
        background-color: $color-fertilizer
    }
    .improvement-watershed>& {
        background-color: $color-watershed
    }
    .improvement-enclosure>& {
        background-color: $color-enclosure
    }
}
