:host {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    .game-bottom {
        background-color: #B86;
        flex: 1;
        display: flex;
        padding: 16px;
        .player-board {
            align-self: flex-end;
            background-color: transparent;
        }
        .game-board {
            flex: 1;
        }
    }
}
