<div class="objects-container">
    <tk-object [multiplier]="2">
        <tk-improvement type="enclosure"></tk-improvement>
    </tk-object>
    <tk-object [multiplier]="2">
        <tk-improvement type="watershed"></tk-improvement>
    </tk-object>
    <tk-object [multiplier]="2">
        <tk-improvement type="fertilizer"></tk-improvement>
    </tk-object>
    <tk-object [multiplier]="2">
        <tk-irrigation type="show"></tk-irrigation>
    </tk-object>
    <tk-object [multiplier]="2">
        <tk-bamboos color="green" [quantity]="1"></tk-bamboos>
    </tk-object>
    <tk-object [multiplier]="2">
        <tk-bamboos color="pink" [quantity]="1"></tk-bamboos>
    </tk-object>
    <tk-object [multiplier]="2">
        <tk-bamboos color="yellow" [quantity]="1"></tk-bamboos>
    </tk-object>
</div>
