@import "src/utils";
.terrain-grid-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.terrain-grid-line {
    display: flex;
    &:nth-child(odd) {
        transform: translateX($terrain-margin-left-right + $terrain-width / 2);
    }
}
