@import "src/utils";
:host {
    display: block;
    width: $terrain-width;
    height: $terrain-width * $hexagon-height-rate;
    margin: $terrain-margin-top-bottom $terrain-margin-left-right;
    position: relative;
}

.terrain-container {
    @include hexagon($terrain-width);
}

.terrain {
    &.green {
        background-color: $terrain-color-green;
    }
    &.pink {
        background-color: $terrain-color-pink;
    }
    &.yellow {
        background-color: $terrain-color-yellow;
    }
}

.fountain {
    background-color: $terrain-color-fountain;
}

.empty-terrain {
    background-color: transparent;
}

.can-be-terrain {
    cursor: pointer;
    background-color: transparentize(#ccc, 0.5);
}

.terrain-improvement {
    position: absolute;
    left: 50%;
    bottom: 10%;
    transform: translateX(-50%);
}

.terrain-bamboos {
    position: absolute;
    bottom: 25%;
    left: 10%;
}
