@import "src/utils";
:host {
    display: block;
    width: $terrain-width;
    height: $terrain-width * $hexagon-height-rate;
    margin: $terrain-margin-top-bottom $terrain-margin-left-right;
    position: relative;
}

.terrain {
    position: relative;
    @include hexagon($terrain-width);
    &.green {
        background-color: $terrain-color-green;
    }
    &.pink {
        background-color: $terrain-color-pink;
    }
    &.yellow {
        background-color: $terrain-color-yellow;
    }
    &.fountain {
        background-color: $terrain-color-fountain;
    }
}

.empty-terrain {
    background-color: transparent;
    @include hexagon($terrain-width);
}

.can-be-terrain {
    cursor: pointer;
    @include hexagon($terrain-width, transparentize(#ccc, 0.5));
}

.terrain-bamboos {
    position: absolute;
    bottom: 25%;
    left: 10%;
}
